<div class="container">
  <div class="navbar">
    <h3>Filtrar Productos</h3>
    <div class="filter-group">
      <label for="priceRangeMin">Precio Mínimo:</label>
      <input type="number" id="priceRangeMin" [(ngModel)]="precioMenor" min="0" step="1">
    </div>
    <div class="filter-group">
      <label for="priceRangeMax">Precio Máximo:</label>
      <input type="number" id="priceRangeMax" [(ngModel)]="precioMayor" min="0" step="1">
    </div>
    <div class="filter-group">
      <label for="category">Indique Categoría:</label>
      <select id="category" [(ngModel)]="selectedCategory">
        <option value="0">Seleccione una categoría</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="brand">Indique Marca:</label>
      <select id="brand" [(ngModel)]="selectedBrand">
        <option value="0">Seleccione una marca</option>
        <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nombre_marca }}</option>
      </select>
    </div>
    <button class="btn" (click)="FiltroProductos()">Aplicar Filtros</button>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let producto of productos">
      <div class="carousel">
        <div *ngFor="let imagen of producto.imagenes">
          <img [src]="imagen.url" alt="Imagen del producto">
        </div>
      </div>
      <div class="card-content">
        <h2>{{ producto.nombre_producto }}</h2>
        <p>{{ producto.marca__nombre_marca }}</p>
        <p class="price">{{ producto.precio }}</p>
        <p>{{ producto.detallecarrito__cantidad }}</p>
        <button class="btn" (click)="onSubmit(producto.codigo)">Ver detalle</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>