

<h1>Bienvenido Administrador</h1>
<nav>
  <ul>
    <li><a href="#">Gestionar Categorías</a></li>
    <li><a href="#">Gestionar Ciudades</a></li>
    <li><a href="#">Gestionar Departamentos</a></li>
    <li><a href="#">Responder Comentarios</a></li>
    <li><a href="#">Gestionar Domicilios</a></li>
    <li><a href="#">Gestionar Productos</a></li>
    <li><a href="#">Gestionar Marcas</a></li>
    <li><a href="#">Gestionar Medios de Pago</a></li>
    <li><a href="#">Editar Datos de Usuario</a></li>
    <li><a href="#">Bloquear Usuarios</a></li>
    <li><a href="#">Gestionar Ventas</a></li>
    <li><a href="#">Cerrar Sesión</a></li>
  </ul>
</nav>


