<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header class="header">
  <div class="header-left">
      <span class="logo">Heavy Metal</span>
  </div>
  <div class="header-center">
      <div class="search-container">
          <div class="search-icon"><i class="fas fa-search"></i></div>
          <input type="text" class="search-bar" placeholder="Buscar Producto">
      </div>
  </div>

  <div class="header-right">
      <button><i class="fas fa-bell"></i></button>
      <button><i class="fas fa-shopping-cart"></i></button>

      <div class="auth-button">
        <a href="/login">
          <span>Iniciar sesión</span></a>
      </div>
      <div class="auth-button">
        <a href="/registro">
          <span>Registrarse</span>
        </a>
      </div>
  </div>

</header>


<div class="categoria">
  <div class="top-row">
      <a href="pagina1.html" class="button">HERRAMIENTAS MANUALES</a>
      <a href="pagina2.html" class="button">HERRAMIENTAS ELECTRICAS</a>
      <a href="pagina3.html" class="button">FERRETERIA</a>
      <a href="pagina4.html" class="button">MATERIALES DE CONTRUCCIÓN</a>
      <a href="pagina5.html" class="button">PLOMERIA</a>
      <a href="pagina6.html" class="button">ELECTRICIDAD</a>
  </div>
  <div class="bottom-row">
      <a href="pagina7.html" class="button">PINTURAS Y ACCESORIOS</a>
      <a href="pagina8.html" class="button">SEGURIDAD</a>
      <a href="pagina9.html" class="button">JARDINERIA</a>
      <a href="pagina10.html" class="button">ADHESIVOS Y SELLADORES</a>
      <a href="pagina11.html" class="button">ACCESORIOS Y SUMINISTROS</a>
  </div>
</div>

<div class="offer">
<div class="small-container3">
  <div class="row">
      <div class="col-2">
          <h1>HEAVY METAL</h1>
          <h6>Explora nuestra selección de herramientas y materiales de alta calidad, ideales para todos tus proyectos. <br>Descubre, crea y transforma<br></h6>
      </div>
  </div>
</div>
</div>
