.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-left,
  .header-center,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left .btn {
    margin-right: 8px;
  }
  
  .header-center {
    flex-grow: 1;
    justify-content: center;
  }
  
  .search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .header-right h1 {
    font-size: 1.5em;
    margin: 0;
    color: #007bff;
  }
  


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin: 0 0 8px 0;
  }
  
  .card p {
    margin: 0 0 16px 0;
  }
  
  .price {
    font-weight: bold;
    color: #28a745;
  }
  
  .btn {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
