<style>
  .card {
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn-primary {
    margin-top: 20px;
  }
</style>

<div>
  <h1>Bienvenido {{ usuario.nombre }} {{ usuario.apellido }}</h1>
  <img src="{{ usuario.imagen }}" alt="Foto de perfil">
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;"> <img src="https://via.placeholder.com/150" class="card-img-top"
          alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre_producto}}</h5>
          <p class="card-text">{{producto.precio}}</p> <button type="button" class="btn btn-primary">Ver detalle</button> <button
            type="button" class="btn btn-primary">Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>