
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    

<body>
    <div class="header">      
    <div class="container">
    <div class="navbar">
        <div class="logo"><a href="1.HTML">Heavy Metal</a></div>
    <nav>
        <ul id="MenuItems">
            <li><a href="1.HTML">Inicio</a></li>
            <li><a href="2.html">Productos</a></li>
            <li><a href="2.html" class="auth-button">Iniciar Sesion</a></li>
            <li><a href="2.html" class="auth-button">Registarse</a></li>
        </ul>
    </nav>
    </div>
    
    <div class="row">
        <div class="col-2">
            <h1>¡Bienvenidos a <br>Heavy Metal¡</h1>
            <p>El éxito no siempre se trata de grandeza, sino de consistencia. 
                <br>El trabajo duro y constante lleva al éxito. La grandeza vendrá después.</p>
                <a href="2.html" class="btn">Explora Ahora &#8594;</a>
        </div>
        <div class="col-2">
            <img src="/app_angular/src/assets/imagenes/Logo/logo.png">

        </div>
    </div>
    </div>
    </div>
    

    <!-------- featured categories -------->
    <div class="categories">
        <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="/app_angular/src/assets/imagenes/presentacion/tema1.png" width="250px" height="400px">
            </div>
            <div class="col-3">
                <img src="/app_angular/src/assets/imagenes/presentacion//tema2.png" width="250px" height="400px">
            </div>
            <div class="col-3">
                <img src="/app_angular/src/assets/imagenes/presentacion//tema3.png" width="250px" height="400px">
            </div>
        </div>
    </div>
</div>
<!-------- featured products -------->
<div class="small-container2">
    <h2 class="title"> TEMAS</h2>
    <div class="row">
        <div class="col-4">
            <br>
            <a href="2.html"><img src="imagenes/Categorias/1.png"></a>
            <a href="2.html"><h4>HERRAMIENTAS MANUALES</h4></a>
        </div>

        <div class="col-4">
            <br>
            <a href="2B2.html"><img src="imagenes/Categorias/2.png"></a>
            <a href="2B2.html"><h4>HERRAMIENTAS ELECTRICAS</h4></a>
            </div>
        <div class="col-4">
            <br>
            <a href="2B3.html"><img src="imagenes/Categorias/3.png"></a>
            <a href="2B3.html"><h4>FERRETERIA</h4></a>
            </div>
        <div class="col-4">
            <br>
            <a href="2B4.HTML"><img src="imagenes/Categorias/4.png"></a>
            <a href="2B4.HTML"><h4>MATERIALES DE CONTRUCCIÓN</h4></a>
            </div>
        <div class="col-4">
            <br>
            <a href="2B5.HTML"><img src="imagenes/Categorias/5.png"></a>
            <a href="2B5.HTML"><h4>PLOMERIA</h4></a>
            </div>
            <div class="col-4">
                <br>
                <a href="2.html"><img src="imagenes/Categorias/6.png"></a>
                <a href="2.html"><h4>ELECTRICIDAD</h4></a>
            </div>
    
            <div class="col-4">
                <br>
                <a href="2B2.html"><img src="imagenes/Categorias/7.png"></a>
                <a href="2B2.html"><h4>PINTURAS Y ACCESORIOS</h4></a>
                </div>
            <div class="col-4">
                <br>
                <a href="2B3.html"><img src="imagenes/Categorias/8.png"></a>
                <a href="2B3.html"><h4>SEGURIDAD</h4></a>
                </div>
            <div class="col-4">
                <br>
                <a href="2B4.HTML"><img src="imagenes/Categorias/9.png"></a>
                <a href="2B4.HTML"><h4>JARDINERIA</h4></a>
                </div>
            <div class="col-4">
                <br>
                <a href="2B5.HTML"><img src="imagenes/Categorias/10.png"></a>
                <a href="2B5.HTML"><h4>ADHESIVOS Y SELLADORES</h4></a>
                </div>
            <div class="col-4">
                <br>
                <a href="2B5.HTML"><img src="imagenes/Categorias/11.png"></a>
                <a href="2B5.HTML"><h4>ACCESORIOS Y SUMINISTROS</h4></a>
                </div>
    </div>
    
    
        </div>
    
<!----------offer--------->
<div class="offer">
    <div class="small-container3">
        <div class="row">
            <div class="col-p">
                <img src="imagenes/masvendido/masvendidos.png" class="offer-img">
            </div>
            <div class="col-2">
                
                <h1>Los más vendidos</h1>
                <small>Aquí encontrarás nuestros productos más vendidos, adaptados a todos los gustos. <br>Heavy Metal<br></small>
                
                    <a href="2B6.HTML" class="btn">Ver Ahora &#8594;</a>
            </div>
        </div>
    </div>
</div>
<!--------- Testimonial -------->
<div class="testimonial">
    <div class="small-container4">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Heavy Metal es tu destino para encontrar herramientas y materiales de ferretería de primera calidad. Nos dedicamos a ofrecer productos innovadores y confiables que satisfacen las necesidades de construcción, renovación y reparación. Explora nuestro catálogo completo, respaldado por descripciones detalladas y una experiencia de compra segura y conveniente. Únete a nuestra comunidad y descubre por qué Heavy Metal es la elección preferida para tus proyectos.<br>
                </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="usu.jpg" >
                    <h3>Launch Color</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>En Heavy Metal, nuestra misión es equipar a nuestros clientes con las mejores herramientas y materiales de ferretería, ofreciendo productos de alta calidad y un servicio excepcional. Nos enorgullece crear un espacio donde profesionales, aficionados y empresas puedan encontrar todo lo que necesitan para llevar a cabo sus proyectos con éxito.
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="mone1.jpg" >
                    <h3>Usuario</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Heavy Metal, tu tienda virtual de confianza. Nuestro carrito de compras está diseñado para hacer tu experiencia de compra lo más sencilla y segura posible. La información completa y precisa te ayudará a tomar decisiones informadas y seguras al comprar en Heavy Metal. ¡Descubre la facilidad de comprar con nosotros y equipa tu hogar con los mejores productos!
                    <br>
                    <br>
                    <br>
                    <br>
                </p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="carrito.png" >
                    <h3>Carrito</h3>
            </div>
        </div>
    </div>
</div>
<br>
                    <br>
                    <br>
                    <br>
<!------------- brands -------------->

    
<!-----------  footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Descargue nuestra aplicación</h3>
                <p>Dowload App para teléfono móvil Android e iOS.</p>
                <div class="app-logo">
                    <img src="play-store.png">
                    <img src="app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <h1>Heavy Metal</h1>
                <p>En Heavy Metal, nuestro propósito es empoderarte con las mejores herramientas y materiales, 
                    para que cada proyecto sea una obra maestra de calidad y precisión.</p>
                
           </div>
           <div class="footer-col-3">
            <h3>Siguenos</h3>
            <ul>
                <li>Facebook </li><br>
            <li>Twitte </li><br>
            <li>Instagram </li><br>
            <li>YouTube </li>
            </ul>
       </div>
       <div class="footer-col-4">
        <h3>Enlaces utiles</h3>
        <ul>
            <li>Contacto</li><br>
                <li>Correo </li><br>
        </ul>
   </div>
            </div>
        <hr>
        <p class="Copyright">2024</p>
        </div>
    </div>
