<h1>Edición de Categorias</h1>
<form [formGroup]="formUser" (ngSubmit)="editarCategoria()">
  <div class="mb-3 mt-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingrese Nombre" name="nombre" formControlName="nombre">
  </div>
  
  <div class="mb-3 mt-3">
      <label for="descripcion" class="form-label">Descripción:</label>
      <input type="text" class="form-control"    id="descripcion" placeholder="Ingrese descripción" name="descripcion" formControlName="descripcion">
  </div>
  <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-info btn-sm">Editar</button>
</form>
